.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.icon {
  font-size: 128px !important;
  margin: 0;
}
