.emptyFlightList {
  color: var(--dusk-green);
}

.emptyFlightList,
.loader {
  width: 100% !important;
  text-align: center !important;
}

.table {
  border: solid 1px black;
  border-radius: 0.5rem;
  margin: 0;
  font-size: 20px;
  width: 100%;

  td,
  th {
    border: none;
    padding: 10px;
  }

  tr {
    border: none;
  }
}

.head {
  background-color: var(--afternoon-blue);
  color: var(--white);
}

.body {
  tr {
    &:nth-child(even) {
      background-color: var(--grey-scattered);
    }

    &:hover {
      background-color: var(--grey-few);
    }
  }
}
