.emptyFlightList {
  color: var(--dusk-green);
}

.emptyFlightList,
.loader {
  width: 100% !important;
  text-align: center !important;
}

.table {
  border: solid 1px black;
  border-radius: 0.5rem;
  margin: 0;
  font-size: 20px;
  width: 100%;
  pointer-events: none;

  td,
  th {
    border: none;
    padding: 10px;
    vertical-align: top;
  }

  tr {
    border: none;
  }

  .showOnMobile {
    display: none;
  }

  @media (max-width: 768px) {
    .hideOnMobile {
      display: none;
    }

    .showOnMobile {
      display: block;
    }
  }
}

.head {
  background-color: var(--afternoon-blue);
  color: var(--white);
}

.body {
  tr {
    &:nth-child(even) {
      background-color: var(--grey-scattered);
    }

    background-color: var(--grey-white);
  }
}

.originalTime {
  color: var(--dark-red);
  text-decoration: line-through;
}
