.header {
  background: var(--gradient-flights);
  background-clip: text;
  font-size: 72px;
  -webkit-text-fill-color: transparent;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 48px;
  }
}
